@import url(/src/css/reset.css);
* {
  box-sizing: border-box;
}
body {
  background-color: gray;
}
.container {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;
}
.cube {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  animation: cube 20s infinite;
  transition-delay: 10s;
}
.side {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 7px solid whitesmoke;

  background-color: teal;
  opacity: 0.8;
  font: normal 70px arial;
  text-align: center;
  line-height: 300px;
}
.front {
  transform: translateZ(100px);
}
.back {
  transform: rotateY(90deg) translateZ(100px);
}
.right {
  transform: rotateY(90deg) translateZ(100px);
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.top {
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
@keyframes cube {
  0% {
  }
  1%,
  25% {
    transform: rotateY(45deg);
  }
  26%,
  50% {
    transform: rotateY(135deg);
  }
  51%,
  75% {
    transform: rotateY(225deg);
  }
  76%,
  100% {
    transform: rotateY(315deg);
  }
}
.container_small {
  position: relative;
  width: 100px;
  height: 100px;
  perspective: 200px;
  margin-left: auto;
  margin-right: auto;
}
.cube_small {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  animation: cube_small 20s infinite linear;
  transition: border-width 0.5s;
  transition-delay: 0.7s;
}
.side_small {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 5px solid whitesmoke;
  background-color: blue;
  opacity: 0.3;
  font: normal 70px arial;
  text-align: center;
  line-height: 100px;
  color: black;
}
.front_small {
  transform: translateZ(50px);
}
.back_small {
  transform: rotateY(180deg) translateZ(50px);
}
.right_small {
  transform: rotateY(90deg) translateZ(50px);
}
.left_small {
  transform: rotateY(-90deg) translateZ(50px);
}
.top_small {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom_small {
  transform: rotateX(-90deg) translateZ(50px);
}
@keyframes cube_small {
  0% {
  }
  1%,
  25% {
    transform: rotateY(-45deg);
  }
  26%,
  49% {
    transform: rotateY(-135deg);
  }
  51%,
  75% {
    transform: rotateY(-225deg);
  }
  76%,
  100% {
    transform: rotateY(-315deg);
  }
}
